<!DOCTYPE html>
<html>
<head>
    <title>Delete User</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <style>
		.myBody {   
 
            border: 5px outset red;
            background-color: lightblue;
            text-align: left;
        }
        .myHeader {
            border: 5px outset green;
            background-color: orange;
            text-align: left;
        }
		</style>

</head>
<body>
<div class="myHeader">
<h2>User</h2>
</div>
<div class="myBody">
<table>
        <tr>
            <td>Id: <td>${user.id}</td>
		</tr>
        <tr>
            <td>Username: <td><td>${user.username}</td>
		</tr>
        <tr>
            <td>Email: <td><td>${user.email}</td>
		</tr>
        <tr>
            <td><input type="button" value="Back" onclick=""></a></td><td><input type="button" value="Delete"></a></td>
		</tr>
        <tr>
            
        </tr>
</table>
</div>
</body>
</html>